# IDE
.vscode/

# Common Python Ignores
__pycache__/
.mypy_cache/
.pytest_cache/
build/
*.egg-info

.coverage

# Image Viewer
ERROR.log

# Nuitka
*.bin
*.exe
*.cmd
*.build/
*.dist/
compilation-report.xml
nuitka-crash-report.xml
tmp*/

*.ipynb
