# IDE
.vscode/

# Common Python Ignores
__pycache__/
.mypy_cache/
.pytest_cache/
build/
*.egg-info
.venv

.coverage

# Image Viewer
ERROR.log

# Nuitka
*.bin
*.exe
*.cmd
*.build/
*.dist/
tmp*/
compilation-report.xml
nuitka-crash-report.xml

# Compiled Python Extensions
*.pyd
*.so

*.ipynb
