[MAIN]

ignore=tmp
ignore-paths=.+build/.*.py,.*.pyi

[MESSAGES CONTROL]

disable=import-error,
        import-outside-toplevel,
        line-too-long,
        protected-access,
        too-few-public-methods
