Pillow==10.3.0
PyTurboJPEG==1.7.3
numpy==1.26.4  # Waiting for 2.0.0 support in nuitka https://github.com/Nuitka/Nuitka/issues/2934
send2trash==1.8.3
winshell==0.6; platform_system == "Windows"
pywin32==306; platform_system == "Windows"
